a.prev:hover,a.next:hover { background-color:#310583;}
.footerstress { border: solid #310583;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#310583;}
.vuzz-pricing-table>div { border-top:#310583 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#310583;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#310583;}
.hometitlebg { background:#310583; }
.colortitlebg { background:#310583; }
.neutralbutton {	background:#310583;}
.serviceicon { background-color:#310583;}
.subtitle { border-bottom:#310583 1px solid;}
.wrapaction { border-left: #310583 3px solid;background:#fff;}
.actionbutton { background-color:#310583;}
.stresstitle { border-bottom:#310583 1px solid;}
.undermenuarea {	background: #310583 url(../images/noise.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #310583;}
.simplebox {border-left: 1px solid #310583;}
.simpleboxicon {color: #310583;}
.colorme { color:#31058362;}
.buttonprice {background: #310583;color:#fff;border:0px;}
a.expandAll {background: #310583;}
.wrapactiondefault {border-left: #310583 2px solid;}