a.prev:hover,a.next:hover { background-color:#97001d;}
.footerstress { border: solid #97001d;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#97001d;}
.vuzz-pricing-table>div { border-top:#97001d 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#97001d;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#97001d;}
.hometitlebg { background:#97001d; }
.colortitlebg { background:#97001d; }
.neutralbutton {	background:#97001d;}
.serviceicon { background-color:#97001d;}
.subtitle { border-bottom:#97001d 1px solid;}
.wrapaction { border-left: #97001d 3px solid;background:#fff;}
.actionbutton { background-color:#97001d;}
.stresstitle { border-bottom:#97001d 1px solid;}
.undermenuarea {	background: #97001d url(../images/noise.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #97001d;}
.simplebox {border-left: 1px solid #97001d;}
.simpleboxicon {color: #97001d;}
.colorme { color:#97001d;}
.buttonprice {background: #97001d;color:#fff;border:0px;}
a.expandAll {background: #97001d;}
.wrapactiondefault {border-left: #97001d 2px solid;}